*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    width: 100%;
}
.main{
    background-color: #f6f6f6;
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-top: 20px;
    /* height: 25px; */
    height: 5vh;
}
.box{
    display: flex;
    gap: 20px;
    padding: 0 30px;
}
.box p{
    border-right:1px solid #797979 ;
    padding-right:10px ;
}
@media (max-width:800px) {
    .main{
        display: none;
    }
}

.menu{
    display: none;
}

.header{

    background-color: #fff;
    height: 10vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;


}
#logo img{
    width: 100%;

}
#main_links{
    height: 10vh;
    width: 45%;
    display: flex;
    align-items: center;

}
#main_links ul{
    list-style: none;
   
}
.ul{
    display: flex;
}
.ul a{
    text-decoration: none;
    color: #797979;
}
 #header .items{
    margin: 0 10%;
}
#icons{
    height: 10vh;
    width: 25%;
    padding: 0 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #797979;

}
@media (max-width:800px){
    .header{
        padding: 30px 50px 30px 30px;
    }
    .menu{
        display: block;
        font-size: 30px;
        text-align: right;
        color: blue;
    }
    #main_links,#icons{
        display: none;
    }
    
} 
/* Bannner */
.banner{
    background: url("./images/banner-bg.jpg");
    background-repeat:no-repeat ;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.taglines h1 span{
    color: #71cd14;
}
.taglines h1 {  
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 52px;
    font-weight: 700;
}
.taglines{
    position: absolute;
    top: 30%;
    left: 5%;
    height: 40%;
    /* width: 5%; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;

}
.taglines p{
    font-family: "Heebo",sans-serif;
    font-size: 14px;
}
.taglines  p:nth-of-type(2){
    font-family: "Heebo",sans-serif;
    font-size: 18px;
    font-weight: 100;
}
.taglines button{
    width: 50%;
    padding: 10px;
    background-color: #71cd14;
    border-radius: 5px;
    border: 5px solid #71cd14;
    color: #fff;
    margin-top: 20px;
}
/* features */
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px 100px 60px;

}
.feature>.items>h3,p{
    margin-bottom: 20px;
}
.feature .items i{
    font-size: 30px;
    margin-bottom: 30px;
}
.feature .items{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #79797944;
    text-align: center;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width:950px) {
    .feature{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    padding: 60px 160px 100px 160px;

    }  
}
@media (max-width:850px) {
    .feature{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
        margin:50px 15% 50px 15% ;
        /* margin-left: 25%; */
    }  
}
.featureHeading{
width: 100%;
text-align: center;
line-height: 2.5;
}
.innere_Feature h2 span {
    position: relative;
    display: inline-block
}
.innere_Feature h2 span:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #ebedee;
}
@media (max-width:600px) {
    .featureHeading{
        width: 100%;
        text-align: center;
        line-height: 2.5;
        }
}.feature-products{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 100px 60px;

}
.single-product {
    text-align: center;
    margin-bottom: 50px
}

.single-product .product-img {
    position: relative;
    overflow: hidden
}

.single-product .product-img .p_icon {
    width: 90%;
    padding: 7px 30px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: rgba(113,205,20,0.4);
    transition: all 400ms ease
}

.single-product .product-img .p_icon a {
    display: inline-block;
    height: 36px;
    line-height: 40px;
    width: 36px;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    color: #2a2a2a;
    margin-right: 25px
}

.single-product .product-img .p_icon a:last-child {
    margin-right: 0px
}

.single-product .product-img .p_icon a:hover {
    color: #fff;
    background: #71cd14
}

.single-product .product-btm {
    padding: 22px 25px 18px;
    border: 1px solid #f0f2f1;
    text-align: left
}

.single-product .product-btm h4 {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0px;
    transition: all 300ms linear 0s
}

.single-product .product-btm h5 {
    margin-bottom: 0px;
    font-size: 18px;
    color: #797979
}

.single-product .product-btm span {
    font-family: "Heebo",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    color: #2a2a2a
}

.single-product:hover .product-img .p_icon {
    bottom: 0px
}

.single-product:hover .product-btm h4 {
    color: #71cd14
}
/* sale poster */
.sale{
    background: url(/images/offer-bg.png);
    height: 85vh;
    position: relative;
    font-size: 30px;
    background-position-x: 50% ;
    background-repeat: no-repeat;
    background-size: cover;
}
.sale_info{
    position: absolute;
    left: 50%;
    top: 20%;
    text-transform: capitalize;
    display: flex;
    align-content: center;
    flex-direction: column;
    
    box-sizing: border-box;
}
.sale_info>*{
    align-self: center;
}
.sale_info>h3{
    font-size: 1em;
    font-weight: 300;
}

.sale_info>h2{
    font-size: 3.5em;
    font-weight: 700;
    font-family: "Heebo",sans-serif;
}
.sale_info>a{
    background-color: #71cd14;
    text-decoration: none;
    border-radius: 5px;
    font-size: .5em;
    padding: 1em 2.5em;
    color: white;
}
.sale_info>a:hover{
    background-color: #fff;
    border: 1px solid #71cd14;
    color: #71cd14;
    transition: all ease-in .3s;
}
.sale_info>p{
    margin-top: 2em;
    font-size: .4em;
}
.new-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 10px;
}

.new-products>.product-items{
}

/* ** */
.angry-grid {
    display: grid; 
 
    grid-template-rows: .5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 15px;
    height: 100%;
    padding:  40px;
    margin-top: 40px;
    
 }
 .product-items .single-product{
    margin: 0;
 }
 .product-items .single-product .p_icon{
    width: 100%;
 }
  
 .product-items .single-product .img-fluid{
    width: 100%;
 }

 #item-0 {
 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-transform: capitalize;

 
    
 }

 #item-1 {
 
    background-color: #f0f2f1; 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 3;
   
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    line-height: 3;
    font-size: 24px;

 }
 #item-1 h5 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
 }
 #item-1 h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;

 }
 #item-1 h4 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
 }
 #item-1 a {
    background-color: #71cd14;
    text-transform: uppercase;
    font-size: .5em;
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 5px;
    color: white;    
}
#item-1  a:hover{
    background-color: #fff;
    border: 1px solid #71cd14;
    color: #71cd14;
    transition: all ease-in .3s;
}

 #item-2 {
 
    /* background-color: #F97FD5;  */
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 5;
    
 }
 #item-3 {
 
    /* background-color: #E7B5CD;  */
    grid-row-start: 3;
    grid-column-start: 4;
 
    grid-row-end: 4;
    grid-column-end: 5;
    
 }
 #item-4 {
 
    /* background-color: #DBBB98;  */
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    
 }
 #item-5 {
 
    /* background-color: #DD775F;  */
    grid-row-start: 3;
    grid-column-start: 3;
 
    grid-row-end: 4;
    grid-column-end: 4;
    
 }

 /* INSPIRED PTODUCTS */
 .inspired-heading{
    text-align: center;
    line-height: 2;
 }
 .inspired-heading h2{
    display: inline-block;
    padding: 0 20px;
    font-size: 24px;
    border-bottom: 1px solid #ebedee;
    margin-bottom: 10px;
 }
 .inspired-p-items{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
 }
 .inspired-p-items .row1{
    display: flex;
    justify-content: space-between;
 }
 .inspired-p-items .row2{
    display: flex;
    justify-content: space-between;
 }
 .inspired-p-items .product-btm{
    line-height: 2.5;
 }

/* blog section */
.blog-heading{
    text-align: center;
    line-height: 2;
 }
 .blog-heading h2{
    display: inline-block;
    padding: 0 20px;
    font-size: 24px;
    border-bottom: 1px solid #ebedee;
    margin-bottom: 10px;
 }
 .blog-items-container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
 }
 .blog-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* flex-basis: 300px; */
    width: 380px;
    overflow: hidden;
    box-sizing: border-box;
 }
 .blog-items img{
    width: 100%;
    height: 100%;
 }
 .blog-items .img{
    overflow: hidden;
    box-sizing: border-box;
 }
 
 .blog-items>p{
    color: #797979;
 }
 .blog-items{
    line-height: 1.5;
 }
 .blog-items>h4{
    font-size: 18px;
 }
 .blog-items>a{
    text-decoration: none;
    font-size: 12px;
    color:#2a2a2a;
 }

 .blog-items .para{
    display: flex;
    gap: 20px;
     color: #797979;
     font-weight: 100;
    
 }
 .blog-items:hover  img{
    transform: scale(1.1);
    transition: all ease .5s;
    box-sizing: border-box;
    overflow: hidden;
 
 }
 .blog-items:hover  a{
    color: #71cd14;
    transition: all ease .5s;
 }
 .blog-items:hover  h4{
    color: #71cd14;
    transition: all ease .5s;
 }